@keyframes anim-title {
    
  from {
      
    margin-left: 100%;
    width: 300%;
  }
  
  75% {
      
  font-size: 100%;
  margin-left: 25%;
  width: 150%;
}

  to {
      
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes php {
    
    0% {
        
        top: 40%;
        opacity: 0;
    }
    6%, 14% {
        top: 15%;
        opacity: 1;
    }
    20%, 100% {
        top: -115%;
        opacity: 0;
    }
    
    
}

@keyframes java {
    
    20% {
        
        top: 115%;
        opacity: 0;
    }
    26%, 34% {
        top: 15%;
        opacity: 1;
    }
    40%, 100% {
        top: -115%;
        opacity: 0;
    }
    
    
}

@keyframes android {
    
    40% {
        
        top: 115%;
        opacity: 0;
    }
    46%, 54% {
        top: 15%;
        opacity: 1;
    }
    60%, 100% {
        top: -115%;
        opacity: 0;
    }
    
    
}

@keyframes js {
    
    60% {
        
        top: 115%;
        opacity: 0;
    }
    66%, 74% {
        top: 15%;
        opacity: 1;
    }
    80%, 100% {
        top: -115%;
        opacity: 0;
    }
    
    
}

@keyframes html {
    
    80% {
        
        top: 115%;
        opacity: 0;
    }
    86%, 96% {
        top: 15%;
        opacity: 1;
    }
    100% {
        top: -115%;
        opacity: 0;
    }
    
    
}

/*.social-buttons {
    
    position: absolute;
    left: 0;
    top: 50%;
}*/

.btn-github {
    
    color: white !important;
}
